<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buffalo - Gowatest</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>

    <div class="container">
      
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Golang Test Task</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <div class="dropdown show">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("change_language") %>
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="<%= customersPath({"language": "ru"}) %>">Русский</a>
              <a class="dropdown-item" href="<%= customersPath({"language": "en"}) %>">English</a>
            </div>
          </div>
        </nav>
      </div>
      
      <%= partial("flash.html") %>
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
